* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  margin: 20px;
}

h3 {
  margin: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

/* Left side*/
.splash-screen {
  flex: 1;
  height: 100vh;
}

/* Right Side*/
.content-container {
  flex: 2;
  display: flex;
}

.intro-text {
  background-color: rgb(238, 238, 238);
  font-size: 30px;
  padding: 100px 100px 20px;
}

.login-grid {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 0px 50px;
}

.login-button-window {
  background-color: rgb(238, 238, 238);
  margin: 20px;
}

.login-button {
  background-color: rgb(48, 124, 48);
  color: white;
  padding: 10px;
  border-radius: 8px;
  border-color: rgb(24, 61, 24);
}
