* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  margin: 20px;
}

h3 {
  margin: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;
}

/* Left side*/
.splash-screen {
  flex: 1;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  width: 10rem;
  top: 200px;
  left: 300px;
}

/* Right Side*/
.content-container {
  flex: 1.5;
  display: flex;
}

.intro-text {
  background-color: rgb(238, 238, 238);
  font-size: 30px;
  padding: 100px 100px 20px;
}

.login-info {
  padding-left: 100px;
}

.login-grid {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 0px 20px;
}

.login-button-window {
  background-color: rgb(238, 238, 238);
  padding: 20px;
  padding-left: 100px;
}

.login-button {
  background-color: rgb(48, 124, 48);
  color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  border-color: rgb(24, 61, 24);
}
